{# Copyright (c) 2024-2026 Jasper Ford #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# Author: Jasper Ford #}
{# See NOTICE file for attribution and acknowledgements. #}
{% extends "layouts/base.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  {% set statusLabels = {
    draft: t("govuk_alpha_ideation.status.draft"),
    open: t("govuk_alpha_ideation.status.open"),
    voting: t("govuk_alpha_ideation.status.voting"),
    evaluating: t("govuk_alpha_ideation.status.evaluating"),
    closed: t("govuk_alpha_ideation.status.closed"),
    archived: t("govuk_alpha_ideation.status.archived")
  } %}

  <a href="{{ urlFor('/ideation/' ~ challenge.id) }}" class="govuk-back-link">{{ t("govuk_alpha_ideation.idea.back_to_challenge") }}</a>

  {% if successMessage %}
    {% set notificationMessage = successMessage %}
    {% set notificationType = "success" %}
    {% include "partials/notification-banner.njk" %}
  {% endif %}

  {% if errorMessage %}
    <div class="govuk-error-summary" data-module="govuk-error-summary" tabindex="-1">
      <div role="alert">
        <h2 class="govuk-error-summary__title">{{ t("states.error_title") }}</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>{{ errorMessage }}</li>
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

  <span class="govuk-caption-xl">{{ challenge.title }}</span>
  <div class="nexus-alpha-module-row">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ t("govuk_alpha_ideation.manage.heading") }}</h1>
    <strong class="govuk-tag {{ challenge.statusClass }}">{{ challenge.statusLabel }}</strong>
  </div>

  <ul class="govuk-list">
    <li><a class="govuk-link" href="{{ urlFor('/ideation/' ~ challenge.id ~ '/edit') }}">{{ t("govuk_alpha_ideation.page.manage_edit_challenge") }}</a></li>
    <li><a class="govuk-link" href="{{ urlFor('/ideation/' ~ challenge.id ~ '/outcome') }}">{{ t("govuk_alpha_ideation.page.manage_record_outcome") }}</a></li>
  </ul>

  <form method="post" action="{{ urlFor('/ideation/' ~ challenge.id ~ '/favorite') }}" class="govuk-!-margin-bottom-4">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button">
      {{ t("govuk_alpha_ideation.manage.remove_favorite") if isFavorited else t("govuk_alpha_ideation.manage.add_favorite") }}
    </button>
  </form>

  <h2 class="govuk-heading-l">{{ t("govuk_alpha_ideation.page.manage_lifecycle_title") }}</h2>
  <p class="govuk-body">{{ t("govuk_alpha_ideation.page.manage_lifecycle_intro") }}</p>
  {% if transitions and transitions.length %}
    <form method="post" action="{{ urlFor('/ideation/' ~ challenge.id ~ '/status') }}">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ t("govuk_alpha_ideation.idea.status_label") }}</legend>
          <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
            {% for option in transitions %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="transition-{{ option }}" name="challenge_status" type="radio" value="{{ option }}"{% if loop.first %} checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="transition-{{ option }}">{{ statusLabels[option] }}</label>
              </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">{{ t("govuk_alpha_ideation.manage.update_status") }}</button>
    </form>
  {% else %}
    <div class="govuk-inset-text">{{ t("govuk_alpha_ideation.page.manage_no_transitions") }}</div>
  {% endif %}

  <h2 class="govuk-heading-l govuk-!-margin-top-6">{{ t("govuk_alpha_ideation.page.manage_link_campaign_title") }}</h2>
  <p class="govuk-body">{{ t("govuk_alpha_ideation.page.manage_link_campaign_intro") }}</p>
  {% if campaigns and campaigns.length %}
    <form method="post" action="{{ urlFor('/ideation/' ~ challenge.id ~ '/link-campaign') }}">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <div class="govuk-form-group">
        <label class="govuk-label" for="campaign_id">{{ t("govuk_alpha_ideation.manage.link_campaign_label") }}</label>
        <select class="govuk-select" id="campaign_id" name="campaign_id">
          {% for campaign in campaigns %}
            <option value="{{ campaign.id }}">{{ campaign.title }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">{{ t("govuk_alpha_ideation.page.manage_link_campaign_button") }}</button>
    </form>
  {% else %}
    <div class="govuk-inset-text">{{ t("govuk_alpha_ideation.page.manage_no_campaigns") }}</div>
  {% endif %}

  <h2 class="govuk-heading-l govuk-!-margin-top-6">{{ t("govuk_alpha_ideation.page.manage_duplicate_title") }}</h2>
  <p class="govuk-body">{{ t("govuk_alpha_ideation.page.manage_duplicate_intro") }}</p>
  <form method="post" action="{{ urlFor('/ideation/' ~ challenge.id ~ '/duplicate') }}">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">{{ t("govuk_alpha_ideation.page.manage_duplicate_title") }}</button>
  </form>

  <details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">{{ t("govuk_alpha_ideation.manage.delete") }}</span>
    </summary>
    <div class="govuk-details__text">
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text"><span class="govuk-visually-hidden">{{ t("govuk_alpha_ideation.page.warning") }}</span> {{ t("govuk_alpha_ideation.page.manage_delete_warning") }}</strong>
      </div>
      <form method="post" action="{{ urlFor('/ideation/' ~ challenge.id ~ '/delete') }}">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">{{ t("govuk_alpha_ideation.manage.delete") }}</button>
      </form>
    </div>
  </details>
    </div>
  </div>
{% endblock %}
