{# Copyright (c) 2024-2026 Jasper Ford #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# Author: Jasper Ford #}
{# See NOTICE file for attribution and acknowledgements. #}
{% extends "layouts/base.njk" %}
{% from "_character-count.njk" import characterCount %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  {% set statusOptions = [
    { value: "not_started", label: t("govuk_alpha_ideation.outcomes.status_not_started") },
    { value: "in_progress", label: t("govuk_alpha_ideation.outcomes.status_in_progress") },
    { value: "implemented", label: t("govuk_alpha_ideation.outcomes.status_implemented") },
    { value: "abandoned", label: t("govuk_alpha_ideation.outcomes.status_abandoned") }
  ] %}
  {% set currentStatus = outcome.status or "not_started" %}

  <a href="{{ urlFor('/ideation/' ~ challenge.id) }}" class="govuk-back-link">{{ t("govuk_alpha_ideation.idea.back_to_challenge") }}</a>

  {% if successMessage %}
    {% set notificationMessage = successMessage %}
    {% set notificationType = "success" %}
    {% include "partials/notification-banner.njk" %}
  {% endif %}

  {% if errorMessage %}
    <div class="govuk-error-summary" data-module="govuk-error-summary" tabindex="-1">
      <div role="alert">
        <h2 class="govuk-error-summary__title">{{ t("states.error_title") }}</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>{{ errorMessage }}</li>
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

  <span class="govuk-caption-xl">{{ challenge.title }}</span>
  <h1 class="govuk-heading-xl">{{ t("govuk_alpha_ideation.outcomes.edit_title") }}</h1>
  <p class="govuk-body-l">{{ t("govuk_alpha_ideation.outcomes.edit_intro") }}</p>

  <form method="post" action="{{ urlFor('/ideation/' ~ challenge.id ~ '/outcome') }}">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-form-group">
      <label class="govuk-label" for="winning_idea_id">{{ t("govuk_alpha_ideation.outcomes.winning_idea_label") }}</label>
      <select class="govuk-select" id="winning_idea_id" name="winning_idea_id">
        <option value="">{{ t("govuk_alpha_ideation.outcomes.winning_idea_none") }}</option>
        {% for idea in ideas %}
          <option value="{{ idea.id }}"{% if outcome.winningIdeaId == idea.id %} selected{% endif %}>{{ idea.title }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ t("govuk_alpha_ideation.outcomes.status_label") }}</legend>
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          {% for option in statusOptions %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="outcome-status-{{ option.value }}" name="outcome_status" type="radio" value="{{ option.value }}"{% if currentStatus == option.value %} checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="outcome-status-{{ option.value }}">{{ option.label }}</label>
            </div>
          {% endfor %}
        </div>
      </fieldset>
    </div>

    {% call characterCount(5000, characterCountMessages, "impact_description") %}
    <div class="govuk-form-group">
      <label class="govuk-label" for="impact_description">{{ t("govuk_alpha_ideation.outcomes.impact_label") }}</label>
      <div id="impact_description-hint" class="govuk-hint">{{ t("govuk_alpha_ideation.outcomes.impact_hint") }}</div>
      <textarea class="govuk-textarea govuk-js-character-count" id="impact_description" name="impact_description" rows="4" maxlength="5000" aria-describedby="impact_description-hint impact_description-info">{{ outcome.impactDescription or '' }}</textarea>
    </div>
    {% endcall %}

    <button type="submit" class="govuk-button" data-module="govuk-button">{{ t("govuk_alpha_ideation.outcomes.submit") }}</button>
  </form>
    </div>
  </div>
{% endblock %}
