{# Copyright © 2024–2026 Jasper Ford #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# Author: Jasper Ford #}
{# See NOTICE file for attribution and acknowledgements. #}
{% extends "layouts/base.njk" %}
{% block mainContent %}
<div class="govuk-grid-row"><div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">{{ t('mandatory_2fa.title') }}</h1>
  <p class="govuk-body">{{ t('mandatory_2fa.reason') }}</p>
  {% if error %}<p class="govuk-error-message" role="alert">{{ error }}</p>{% endif %}
  {% if backupCodes %}
    <h2 class="govuk-heading-m">{{ t('security_2fa.backup_codes_title') }}</h2>
    <p class="govuk-body">{{ t('mandatory_2fa.recovery_help') }}</p>
    <ul class="govuk-list">{% for code in backupCodes %}<li><code>{{ code }}</code></li>{% endfor %}</ul>
    <form method="post" action="{{ urlFor('/login/two-factor/setup/complete') }}">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <button class="govuk-button" data-module="govuk-button">{{ t('mandatory_2fa.saved') }}</button>
    </form>
  {% elif setup %}
    <p class="govuk-body">{{ t('security_2fa.step_scan') }}</p>
    <img src="{{ setup.qr_code_url }}" alt="{{ t('security_2fa.qr_alt') }}" width="208" height="208">
    <p class="govuk-body">{{ t('security_2fa.manual_intro') }} <code>{{ setup.secret }}</code></p>
    <form method="post" action="{{ urlFor('/login/two-factor/setup') }}">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <div class="govuk-form-group">
        <label class="govuk-label" for="code">{{ t('security_2fa.code_label') }}</label>
        <input class="govuk-input govuk-input--width-10" id="code" name="code" type="text" inputmode="numeric" autocomplete="one-time-code" pattern="[0-9]{6}" maxlength="6" required>
      </div>
      <button class="govuk-button" data-module="govuk-button">{{ t('security_2fa.verify_button') }}</button>
    </form>
  {% endif %}
  <p class="govuk-body"><a class="govuk-link" href="{{ urlFor('/login') }}">{{ t('auth.login_title') }}</a></p>
</div></div>
{% endblock %}
